<div class="topnav">
  <a href="/">
    <img src="assets/img/slashmobility.png">
  </a>
</div>

<div class="container">
  <div class="responsive">
    <div class="gallery">
      <a target="_blank">
        <img src="assets/img/nutella.jpg" width="250" height="250">
      </a>
      <div class="itemName">Nutella</div>
      <div class="priceTag">10€</div>
      <button class="buyButton" (click)="openModal()">BUY</button>
    </div>
  </div>


  <div class="responsive">
    <div class="gallery">
      <a target="_blank">
        <img src="assets/img/nutella.jpg" width="250" height="250">
      </a>
      <div class="itemName">Nutella</div>
      <div class="priceTag">10€</div>
      <button class="buyButton">BUY</button>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank">
        <img src="assets/img/nutella.jpg" width="250" height="250">
      </a>
      <div class="itemName">Nutella</div>
      <div class="priceTag">10€</div>
      <button class="buyButton">BUY</button>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank">
        <img src="assets/img/nutella.jpg" width="250" height="250">
      </a>
      <div class="itemName">Nutella</div>
      <div class="priceTag">10€</div>
      <button class="buyButton">BUY</button>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank">
        <img src="assets/img/nutella.jpg" width="250" height="250">
      </a>
      <div class="itemName">Nutella</div>
      <div class="priceTag">10€</div>
      <button class="buyButton">BUY</button>
    </div>
  </div>


  <div class="responsive">
    <div class="gallery">
      <a target="_blank">
        <img src="assets/img/nutella.jpg" width="250" height="250">
      </a>
      <div class="itemName">Nutella</div>
      <div class="priceTag">10€</div>
      <button class="buyButton">BUY</button>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank">
        <img src="assets/img/nutella.jpg" width="250" height="250">
      </a>
      <div class="itemName">Nutella</div>
      <div class="priceTag">10€</div>
      <button class="buyButton">BUY</button>
    </div>
  </div>

  <div class="responsive">
    <div class="gallery">
      <a target="_blank">
        <img src="assets/img/nutella.jpg" width="250" height="250">
      </a>
      <div class="itemName">Nutella</div>
      <div class="priceTag">10€</div>
      <button class="buyButton">BUY</button>
    </div>
  </div>
 
</div>

<div class="bottomnav">
  <div class="bottomnav_element">
    <p>© SlashMobility 2018</p>
  </div>
</div>
