<div id="modal-content-wrapper">
    <header id="modal-header">
        <h1 id="modal-title">Do you wanna buy it?</h1>
    </header>
    <section id="modal-body">
        <input type="text" placeholder="Username" name="username" required>
    </section>
    <section id="modal-body">
        <input type="password" placeholder="Password" name="password" required>
    </section>
    <footer id="modal-footer">
        <button id="modal-cancel-button" (click)="closeModal()">CANCEL</button>
        <button id="modal-confirm-button" (click)="actionFunction()">CONFIRM</button>
    </footer>
</div>