/* You can add global styles to this file, and also import other style files */

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

table, th, td {
  border: 1px solid black;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.responsive {
  padding: 0 0px;
  float: left;
  width: 20.0%;
  margin: 12px 12px;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.container {
  margin: 0 auto;
  width: 50%;
}

.topnav {
    background-color: black;
    overflow: hidden;
    width: 100%;
  }
  

  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 10px 8px;
  }
  

.bottomnav {
  background-color: black;
  overflow: hidden;
  position: fixed;
  width: 100%;
  bottom: 0;
}

  .bottomnav_element {  
    color: white;
    font-size: 14px;
    font-family: "MS Sans Serif";
    display: table;
    margin: 0 auto;
    padding: 18px;
  }

  