/* You can add global styles to this file, and also import other style files */

*{
  margin:0;
  padding:0;
}


.topnav {
    background-color: black;
    overflow: hidden;
    width: 100%;
  }
  

  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 10px 8px;
  }
  

.bottomnav {
  background-color: black;
  overflow: hidden;
  position: fixed;
  width: 100%;
  bottom: 0;
}

  .bottomnav_element {  
    color: white;
    font-size: 14px;
    font-family: "MS Sans Serif";
    display: table;
    margin: 0 auto;
    padding: 18px;
  }

  