/* You can add global styles to this file, and also import other style files */

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}


mat-dialog-container#modal-component {
  border: 3px solid white;
  border-radius: 7px;
  background-color: white;
}

#modal-content-wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(1fr, 3);
}

#modal-title {
  font-size: 22px;
  font-family: "MS Sans Serif";
  text-align: center;
}

#modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal-confirm-button {
  background-color:black;
  color: white;
  font-size: 14px;
  font-family: "Lucida Console";
  width: 185px;
  height: 75px;
}

#modal-cancel-button {
  background-color: #777;
  color: white;
  font-size: 14px;
  font-family: "Lucida Console";
  width: 185px;
  height: 75px;
}


table, th, td {
  border: 1px solid black;
}

div.gallery {
  border: 1px solid #ccc;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.itemName {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  border: 15px solid black;
  background-color: black;
  color: white;
  font-size: 14px;
  font-family: "Lucida Console";
  text-align: center;
}

.priceTag {
  color: black;
  padding: 16px 32px;
  font-size: 14px;
  font-family: "Lucida Console";
  text-align: center;
}

.buyButton {
  border: none;
  color: white;
  background-color: black;
  padding: 16px 32px;
  width: 100%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: "Lucida Console";
  transition-duration: 0.4s;
  cursor: pointer;
}

.buyButton:hover {
  background-color: #4CAF50;
  color: white;
}

.responsive {
  padding: 0 0px;
  background-color: #DCDCDC;
  float: left;
  width: 23.0%;
  margin: 5px 5px;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.container {
  display: block; 
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.topnav {
    background-color: black;
    overflow: hidden;
    width: 100%;
  }
  

  .topnav a {
    float: left;
    color: white;
    text-align: center;
    padding: 10px 8px;
  }
  

.bottomnav {
  background-color: black;
  overflow: hidden;
  position: fixed;
  width: 100%;
  bottom: 0;
}

  .bottomnav_element {  
    color: white;
    font-size: 14px;
    font-family: "MS Sans Serif";
    display: table;
    margin: 0 auto;
    padding: 18px;
  }

  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
